@import './styles/globalStyles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  :host {
    -webkit-text-size-adjust: 100%; /* 兼容旧版 WebKit 内核浏览器 */
    text-size-adjust: 100%; /* 标准属性，支持 Chrome 54+、Edge 79+ 等现代浏览器 */
  }
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse-slow {
  0%,
  100% {
    opacity: 0.4;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.05);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease forwards;
}

.animate-pulse-slow {
  animation: pulse-slow 6s ease-in-out infinite;
}
